body {
    font-family: $mont;
    font-weight: normal;
}

.nav__header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: $open;
}

.buttonStyle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $fontLightGrey;
    text-decoration: none;
    background: $darkBlue;
    padding: 12px 48px;
    border-radius: 8px / 12px;
    display: inline-block;
    border: 2px solid $darkBlue;
    transition: all 0.2s;

    &:hover {
        background: $fontLightGrey;
        color: $darkBlue;
    }

    &--dark {
        background: $fontPrimary;
        color: #fff;
        border: 2px solid $fontPrimary;

        &:hover {
            background: #fff;
            color: $fontPrimary;
        }
    }
}

.nav__a {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $fontPrimary;

    &:hover {
        color: $darkBlue;
    }
}


.hero__text {
    font-size: 5.2rem;
    text-transform: uppercase;

    &--small {
        font-size: 2.1rem;
        margin: 12px 0 28px 0;
    }
}
///////////////////////////
///////////////////////////
////   MEDIA QUERIES   ////
///////////////////////////
///////////////////////////

//////////////////
// START 1000px //
//////////////////
@media (max-width: 1000px) {

}
//////////////////
//  END 1000px  //
//////////////////

/////////////////
// START 600px //
/////////////////
@media (max-width: 600px) {

}
/////////////////
//  END 600px  //
/////////////////

/////////////////////////
//     START 400px     //
// Testing up to 320px //
/////////////////////////
@media (max-width: 400px) {

    // NAV
    .nav__header {
        font-size: 2rem;
    }

}
/////////////////////////
//      END 400px      //
// Testing up to 320px //
/////////////////////////