body {
    font-family: $mont;
    font-weight: normal;
}

h1 {
    font-size: 3.15rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: $open;
}

.buttonStyle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $fontLightGrey;
    text-decoration: none;
}