// Project 2 Main Style

@import "partials/setup";
@import "partials/utils";
// @import "partials/typography";
// @import "partials/header";
// @import "partials/footer";

// General Styles

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: lightgrey;
}

.bigWrapper {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: $mont;
    font-weight: normal;
}

p {
    font-family: $open;
}

.buttonStyle {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $fontLightGrey;
    text-decoration: none;
    background: $darkBlue;
    padding: 12px 55px;
    border-radius: 8px / 12px;
    display: inline-block;
    border: 2px solid $darkBlue;
    transition: all 0.2s;
    
    &:hover {
        background: $fontLightGrey;
        color: $darkBlue;
    }
    
    &--dark {
        background: $fontPrimary;
        color: #fff;
        border: 2px solid $fontPrimary;
        
        &:hover {
            background: #fff;
            color: $fontPrimary;
        }
    }
}

// HEADER

.mainHeader {
    background: url(../assets/image-1.jpeg) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
}

.navWrapper {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}

.hiddenCheckbox {
    position: fixed;
    top: 5%;
    left: 5%;
    display: none;
}

.hamburger {
    display: none;
}

.hamburger__bars {
    font-size: 3rem;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    
    &__header {
    font-size:4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    }
    
    &__a {
        text-decoration: none;
        font-size: 2.3rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $fontPrimary;
        
        &:hover {
            color: desaturate(lighten($darkBlue, 20),50);
        }
    }
}

.navBg {
    height: 109px;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
}
    
.hero__text {
    font-size: 8.5rem;
    text-transform: uppercase;
    
    &--small {
        font-size: 3.6rem;
        margin: 20px 0 40px 0;
    }
}

.nav__ul {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    padding-left: 40px;
    flex-basis: 100%;
    transition: all 0.3s;
}

//////////
// MAIN //
//////////

// welcome

.welcome {
    text-align: center;
    background: #fff;
}

.welcome__header {
    @include headerStyles($fontPrimary);
    margin-bottom: 65px;
    padding-top: 120px;

    .welcome__span {
        color: $darkBlue;
        text-transform: uppercase;
    }
}

.welcome__content {
    width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
    color: $fontGrey;
    margin-bottom: 60px;
}

.welcome__button {
    margin-bottom: 130px;
}

// whyChoose

.whyChooseSection {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: $bgGrey;
}

.whyChoose {
    width: 50%;
    background: $bgGrey;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}


.whyChooseSection__bgDiv {
    width: 50%;
    background: url(../assets/image-4.jpeg) center no-repeat;
    background-size: cover;
}

.whyChoose__inner {
    width: 70%;
    // flex-direction: column;
}

.whyChoose__header {
    @include headerStyles($fontPrimary);
    margin: 100px 0;
    text-align: left;
}

.whyChoose__reason {
    display: flex;
    margin-bottom: 80px;
    align-items: stretch;
    flex-basis: 60%;
}

.whyChoose__2ndHeader {
    font-size: 3.5rem;
}

.whyChoose__imgDiv {
    flex-basis: 20%;
}

.whyChoose__img {
    width: 100%;
    height: calc(100% - 8px);
    object-fit: cover;
}

.whyChoose__text {
    flex-basis: 80%;
    position: relative;
    top: -8px;
    margin-left: 30px;
    color: $fontPrimary;
}

.whyChoose__description {
    font-size: 1.7rem;
    margin-top: 10px;
    line-height: 1.8;
}

// servicesWFeatures

.servicesWFeatures {
    padding: 100px 0;
    background: #fff;
}
.servicesWFeatures__header {
    @include headerStyles($fontPrimary);
    margin: 0 0 80px 0;
}

.servicesList {
    display: flex;
    justify-content: space-between;
}

.serviceList__service {
    width: 31.5%;
    text-align: center;
}

.serviceList__linkContent {
    padding: 60px 40px;
    color: $fontPrimary;
    border: 2px solid $bgBlue;
    border-radius: 15px;
    transition: all 0.3s;
}

.serviceList__linkContent:hover {
    background: $bgBlue;
}

.serviceList__graphic {
    font-size: 8rem;
    padding-bottom: 50px;
}

.servicesList__serviceName {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.servicesList__servicePoints {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    font-family: $open;
}

.servicesList__serviceDescription {
    font-size: 1.5rem;
}

.servicesList__servicePoint {
    line-height: 2;
    font-size: 1.5rem;
}

.servicesList__servicePoint::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f00c";
    padding-right: 5px;
}

// testimonials

.testimonials {
    background: $fontPrimary;
    text-align: center;
}


.testimonials__header {
    @include headerStyles($testHeader);
    padding: 100px 0 80px 0;
}

.testimonials__imgChev {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.testimonials__testimonialHeadshotDiv {
    margin: 0 40px;
}

.testimonials__chevron{
    font-weight: 700;
    color: $chevronGrey;
    font-size: 3rem;

    &:hover {
        color: desaturate(lighten($darkBlue, 20),50);
    }
}

.testimonials__quote {
    color: $testimonials;
    font-size: 2.9rem;
}

.testimonials__name {
    color: #fff;
    font-size: 2.9rem;
    font-style: italic;
    font-family: $mont;
    margin-top: 30px;
    padding-bottom: 120px;
}

// projects

.projects__listOfProjects {
    display: flex;
    flex-wrap: wrap;
}

.projects__project {
    width: 25%;
    align-items: stretch;
    display: flex;
}

.project__link {
    display: flex;
    background: $teamHover;
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
    justify-content: center;
}

.project__link:hover {
    opacity: 1;
}

.projects__projectInfo {
    margin: 35px 60px;
    padding: 60px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
}

.projects__projectName {
    color: $projectGrey;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 40px;

}

.projects__projectDescription {
    color: $projectGrey;
    font-size: 1.5rem;
    line-height: 1.8;
}

.projects__project--project00 {
    background: lightgrey url(../assets/image-6.jpeg) center no-repeat;
    background-size: cover;
}
.projects__project--project01 {
    background: lightgrey url(../assets/image-7.jpeg) center no-repeat;
    background-size: cover;
}
.projects__project--project02 {
    background: lightgrey url(../assets/image-8.jpeg) center no-repeat;
    background-size: cover;
}
.projects__project--project03 {
    background: lightgrey url(../assets/image-9.jpeg) center no-repeat;
    background-size: cover;
}

// serviceImage

.serviceImage {
    background: #fff;
    padding-bottom: 120px;
}

.serviceImage__service {
    display: flex;
    padding-bottom: 35px;
}

.serviceImage__info {
    width: 50%;
    text-align: center;
    padding: 7%;
    position: relative;
    z-index: 1;
}

.serviceImage__info::before {
    position: absolute;
    font-size: 15rem;
    font-family: $mont;
    font-weight: 800;
    top: 9px;
    left: 72px;
    color: $servicesBGNumbers;
    z-index: -1;
}

.serviceImage__info--1::before {
    content: "1.";
}

.serviceImage__info--2::before {
    content: "2.";
}

.serviceImage__image {
    width: 50%;
}

.serviceImage__image--img1 {
    background: lightgrey url(../assets/image-10.jpeg) center no-repeat;
    background-size: cover;
}

.serviceImage__image--img2 {
    background: lightgrey url(../assets/image-11.jpeg) center no-repeat;
    background-size: cover;
}

.serviceImage__header {
    @include headerStyles($fontPrimary);
    padding: 120px 0 80px 0;
}

.serviceImage__serviceName {
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.serviceImage__serviceDescription {
    font-size: 1.5rem;
    padding-bottom: 50px;
}

// ask

.ask {
    background: $bgBlue;
    padding-bottom: 120px;
}

.ask__header {
    @include headerStyles($askQuestionGrey);
    padding: 100px 0 50px 0;
}

.ask__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.ask__label {
    // keeping for screen readers but taking out of the visible flow of the page <-- Dear grading instructor, if there is a better way to handle this please let me know!
    position: absolute;
    left: -10000px; 
}

.ask__questionBox {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    color: #000;
    padding: 12px 0;
    border: 1px solid black;
    background: $bgBlue;
}

.ask__submitQuestion {
    width: 155px;
    padding: 12px 0;
}

// team

.team {
    background: #fff;
}

.team__header {
    @include headerStyles($fontPrimary);
    padding: 120px 0 80px 0;
}

.team__teamList {
    display: grid;
    padding-bottom: 120px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
}

.team__teamMember {
    position: relative;
}

.team__headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // !!!!!!???????WTF?????!!!!WHY WONT THIS WORK???
}

.team__about {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $teamHover;
    color: $teamText;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    opacity: 0;
    // this is a little bit off, ask an instructor
}

.team__about:hover {
    opacity: 1;
}

.team__name {
    font-size: 3.5rem;
    width: 100%;
    margin-bottom: 10px;
}

.team__jobTitle {
    font-size: 1.5rem;
    font-family: $mont;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
}

// Footer

.footer1 {
    background: $fontPrimary;
    padding: 120px 0 70px 0;
}

.footer1__inner {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer1__inner::after {
    content: "";
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: -65px;
    left: 0;
    right: 0;
}

.contact__email {
    color: #fff;
}

.contact__email::before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
}

.contact__phone::before {
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-weight: 800;
}

.contact__address::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
    font-weight: 800;
}

.footer1__section {
    width: 30%;
}

.footer1__header {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-bottom: 50px;
}

.contact__emailForm {
    position: relative;
    display: flex;
    width: 80%;
}

.contact__emailLabel,
.contact__submitLabel {
    position: absolute;
    left: -10000px;
}

.contact__emailInput {
    background: $fontPrimary;
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 5px 0 5px 15px;
}

.contact__submitButton {
    background: $fontPrimary;
    color: white;
    font-size: 1rem;
}

.contact__submit {
    border: none;
    display: block;
    background: transparent;
    position: absolute;
    right: 10px;

}

.contact__option,
.aboutUs__description {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.aboutUs__description {
    line-height: 1.8;
}

.footer1__section--instagram {
    display: flex;
    flex-wrap: wrap;
}

.footer1__header--instagram {
    width: 100%;   
}

.instagram__photoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__post {
    width: 22%;
    padding-bottom: 10px;
}

.contact__social {
    position: fixed;
    bottom: 20%;
    right: 0;
    z-index: 30;
}

.contact__socialLink {
    color: $socialGrey;
    font-size: 3rem;
    padding: 30px 30px;
    display: block;
    transition: all 0.3s;
}

.contact__socialLink:hover {
    transform: scale(1.1);
}

// footer2

.footer2 {
    background: $fontPrimary;
}

.nav--footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__header--footer {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.nav__ul--footer {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
    max-width: 550px;
}

.nav__a--footer {
    color: white;
    font-size: 1.8rem;
}

.copyright {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
}
///////////////////////////
///////////////////////////
////   MEDIA QUERIES   ////
///////////////////////////
///////////////////////////
@media (min-width: 2500px) {
    .contact__social {
        position: relative;
        bottom: auto;
        right: auto;
        z-index: auto;
    }

    .contact__socialList {
        display: flex;
    }

    .contact__socialLink {
        padding: 5px 20px 5px 0;
    }
}

//////////////////
// START 1440px //
//////////////////
@media (max-width: 1440px) {
    
    // HEADER
    
    .nav {
        padding: 15px 0;
    }
    
    .navBg {
        height: 89px;
    }
    
    .hero__text {
        font-size: 7rem;
        text-transform: uppercase;
        
        &--small {
            font-size: 2.8rem;
            margin: 20px 0 40px 0;
        }
    }

    //////////
    // MAIN //
    //////////

    // whyChoose

    .whyChoose {
        width: 70%;
    }


    .whyChooseSection__bgDiv {
        width: 30%;
    }

    // projects

    .projects__project {
        width: 50%;
    }
}
//////////////////
//  END 1440px  //
//////////////////

//////////////////
// START 1100px //
//////////////////
@media (max-width: 1100px) {
    .wrapper {
        width: 80%;
    }

    // NAV
    .nav__header {
        font-size: 4.5rem;
    }
    
    .hamburger {
        display: block;
    }

    .nav__ul {
        display: none;
    }

    .hiddenCheckbox:checked ~ .nav__ul {
        display: flex;
    }

    .navBg {
        display: none;
    }
    
    .hamburger__bars {
        padding: 20px;
    }
    
    .navWrapper {
        background: rgba(255, 255, 255, 0.9)
    }
    
    .nav {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 0;
    }

    .nav__ul {
        flex-basis: 100%;
        padding-left: 0;
    }

    .nav__header {
        padding-bottom: 0;
    }

    .hero__text {
        font-size: 5.5rem;
    }

    .hero__text--small {
        font-size: 2.2rem;
    }

    //////////
    // MAIN //
    //////////

    // whyChoose

    .whyChoose {
        width: 100%;
        background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(../assets/image-4.jpeg) center no-repeat;
        background-size: cover;
    }

    .whyChoose__2ndHeader {
        font-size: 2.2rem;
    }

    .whyChoose__description {
        line-height: 1;
    }

    // servicesWFeatures

    .servicesList {
        flex-wrap: wrap;
    }
    .serviceList__service {
        width: 100%;
        margin-bottom: 30px;
    }

    // projects
    .projects {
        background: #fff;
        padding: 5px;
    }

    .projects__project {
        transition: all 0.3s;
    }

    .projects__project:hover {
        transform: scale(1.02);
    }

    .projects__projectInfo {
        background: $teamHover;
    }

    .projects__project {
        margin: 5px;
        width: calc(50% - 10px);
    }

    .project__link {
        opacity: 1;
        background: transparent;
    }

    // serviceImage

    .serviceImage__image {
        display: none;
    }

    .serviceImage__info {
        width: 100%;
    }

    .serviceImage__info--1 {
        background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(../assets/image-10.jpeg) center no-repeat;
        background-size: cover;
    }

    .serviceImage__info--2 {
        background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(../assets/image-11.jpeg) center no-repeat;
        background-size: cover;
    }

    // ask

    .ask__questionBox {
        font-size: 2rem;
    }

    // team

    .team__about {
        position: relative;
        display: flex;
        background: transparent;
        color: $fontPrimary;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        opacity: 1;
        // this is a little bit off, ask an instructor
    }

    .team__teamMember {
        padding-bottom: 50px;
    }



    // FOOTER

    .footer1__inner {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer1__section {
        width: 50%;
        min-width: 300px;
        padding-bottom: 50px;
    }

    .instagram__photoList {
        justify-content: flex-start;
    }

    .instagram__post {
        margin-right: 5px;
    }




}
//////////////////
//  END 1000px  //
//////////////////

/////////////////
// START 600px //
/////////////////
@media (max-width: 600px) {

    // // NAV
    .nav__header {
        font-size: 3.5rem;
    }
    
    .nav__ul {
        flex-wrap: wrap;
    }

    .nav__li {
        flex-basis: 100%;
        margin: 15px 0;
        // text-align: center;
    }

    .nav__a {
        flex-basis: 100%;
        flex-shrink: 0;
        padding: 15px 0;
    }

    .footer1__section {
        padding-right: 50px;
    }

    // whyChooseSection 
    .whyChoose__imgDiv {
        display: none;
    }

    // testimonials

    .testimonials__quote {
        font-size: 1.5rem;
    }

    .testimonials__name {
        font-size: 2rem;
    }

    // projects

    .projects__project {
        width: calc(100% - 10px);
    }

    // team
    .team__teamMember {
        grid-column: span 3;
        text-align: center;
    }

    .team img {
        width: 50%;
    }

    .team__about {
        position: relative;
        display: flex;
        background: transparent;
        color: $fontPrimary;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        opacity: 1;
        // this is a little bit off, ask an instructor
    }

    // FOOTER

    .contact__social {
        position: relative;
        bottom: auto;
        right: auto;
        z-index: auto;
    }

    .contact__socialList {
        display: flex;
    }

    .contact__socialLink {
        padding: 5px 20px 5px 0;
    }
}
/////////////////
//  END 600px  //
/////////////////

/////////////////////////
//     START 400px     //
// Testing up to 340px //
/////////////////////////
@media (max-width: 400px) {
    .nav__header {
        font-size: 2rem;
    }

    .hero__text {
        font-size: 4.5rem;
    }

    .hero__text--small {
        font-size: 2.2rem;
    }

    .welcome__header {
        font-size: 4rem;
    }

    // servicesWFeatures 
    .servicesList__serviceName {
        font-size: 2rem;
    }
}
/////////////////////////
//      END 400px      //
// Testing up to 340px //
/////////////////////////