// Project 2 Main Style

@import "partials/setup";
@import "partials/utils";
// @import "partials/typography";
// @import "partials/header";
// @import "partials/footer";

// General Styles

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: $mont;
    font-weight: normal;
}

p {
    font-family: $open;
}

.buttonStyle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $fontLightGrey;
    text-decoration: none;
    background: $darkBlue;
    padding: 12px 48px;
    border-radius: 8px / 12px;
    display: inline-block;
    border: 2px solid $darkBlue;
    transition: all 0.2s;
    
    &:hover {
        background: $fontLightGrey;
        color: $darkBlue;
    }
    
    &--dark {
        background: $fontPrimary;
        color: #fff;
        border: 2px solid $fontPrimary;
        
        &:hover {
            background: #fff;
            color: $fontPrimary;
        }
    }
}

// HEADER

.mainHeader {
    background: url(../assets/image-1.jpeg) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.navWrapper {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    &__header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    }
    
    &__a {
        text-decoration: none;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $fontPrimary;
        
        &:hover {
            color: $darkBlue;
        }
    }
}
    
.hero__text {
    font-size: 5.2rem;
    text-transform: uppercase;
    
    &--small {
        font-size: 2.1rem;
        margin: 12px 0 28px 0;
    }
}

.nav__ul {
    display: flex;
    max-width: 661px;
    justify-content: space-between;
    padding-left: 40px;
    flex-basis: 100%;
}

//////////
// MAIN //
//////////

// WELCOME

.welcome {
    text-align: center;
}

.welcome__header {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 100px 0 60px 0;

    .welcome__span {
        color: $darkBlue;
        text-transform: uppercase;
    }
}

.welcome__content {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: $fontGrey;
    margin-bottom: 40px;
}

.welcome__button {
    margin-bottom: 100px;
}

///////////////////////////
///////////////////////////
////   MEDIA QUERIES   ////
///////////////////////////
///////////////////////////

//////////////////
// START 1000px //
//////////////////
@media (max-width: 1000px) {
    
    // NAV
    .navWrapper {
        background: rgba(255, 255, 255, 0.9)
    }
    
    .nav {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px 0;
    }

    .nav__ul {
        flex-basis: 100%;
        padding-left: 0;
    }

    .nav__header {
        padding-bottom: 20px;
    }
}
//////////////////
//  END 1000px  //
//////////////////

/////////////////
// START 600px //
/////////////////
@media (max-width: 600px) {

    // // NAV
    .nav__ul {
        flex-wrap: wrap;
    }

    .nav__li {
        flex-basis: 100%;
        text-align: center;
    }

    .nav__a {
        flex-basis: 100%;
        flex-shrink: 0;
        padding: 5px 0;
    }

}
/////////////////
//  END 600px  //
/////////////////

/////////////////////////
//     START 400px     //
// Testing up to 320px //
/////////////////////////
@media (max-width: 400px) {
    .nav__header {
        font-size: 2rem;
    }
}
/////////////////////////
//      END 400px      //
// Testing up to 320px //
/////////////////////////