// Project 2 Main Style

@import "partials/setup";
@import "partials/utils";
@import "partials/typography";
@import "partials/header";
@import "partials/footer";

// General Styles

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1136px;
    margin: 0 auto;
}

nav {
    display: flex;
}

li {
    list-style: none;
}

.topNav {
    display: flex;
}

.buttonStyle {
    background: $darkBlue;
    padding: 25px 45px;
    border-radius: 8px / 12px;
    display: inline-block;
}